@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background: rgb(127, 9, 156);
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 360px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 10px;
}
.container i{
    margin-top: 20PX;
    padding: 5px;
    border: 3px solid ;
    border-radius: 5px;
    font-size: 20px;
}
.container .input{
    display: flex;
    flex-direction: column;
    align-items: start;
    background: #e8d0d0;
    padding: 10px;
    border-radius: 10px;
}
.length,.Password{
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #ddc8c8 ;
    font-size: 18px;
}

.Password {
    user-select: none;
}

button.generate-pass{
    padding: 15px;
    width: 250px;
    background: #120d0d;
    color: white;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
}

button.generate-pass:hover{
    background: lightblue;
    transition-duration: .5s;
    color: black;
}

button:not(.generate-pass){
    font-size: 18px;
    border: 5px solid black;
    padding: 10px;
    border-radius: 10px;
    transition-duration: .2s;
    cursor: pointer;
}

button:not(.generate-pass):hover{
    background: lightblue;
    scale: 1.2;
}
